name: Auto-Merge Trusted PRs

on:
  pull_request_target:
    types:
      - opened
      - synchronize
      - reopened
      - labeled
      - ready_for_review

jobs:
  auto-merge:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
    steps:
      - name: Enable Auto-Merge for Trusted Users/Bots
        if: |
          github.event.pull_request.user.login == 'anguy079' || 
          github.event.pull_request.user.login == 'github-actions[bot]' ||
          contains(github.event.pull_request.labels.*.name, 'auto-merge')
        run: gh pr merge --auto --squash "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
